<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="${environment:localappdata}/WorkTracker/WebApiWorkTracker/Log/nlog.log"
>
 
  <variable name="logDir" value="${environment:localappdata}/WorkTracker/WebApiWorkTracker/Log"/>
  <variable name="debugLayout" value="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>

  <targets async="true">

    <target xsi:type="File"
            name="CommonLogger"
            fileName="${logDir}/${date:format=yyyy_MM}/${date:format=dd}.log"
            layout="${date:format=HH\:mm\:ss} (${level:uppercase=true}) ${message}"/>

    <!--Targets for debug-->
    <target xsi:type="Debugger"
            name="debugger"
            layout="${debugLayout}"/>

    <target xsi:type="File"
            name="debuggerInFile"
            fileName="${basedir}/Logs/${shortdate}.log"
            layout="${debugLayout}"/>
    <!--Targets for debug-->

  </targets>

  <rules>
    <logger name="*" minlevel="Info"  writeTo="CommonLogger" />
    <logger name="*" minlevel="Trace" writeTo="debugger,debuggerInFile" />
  </rules>
</nlog>